<div class="letter-wrapper fadein">
 <div classs="logo"> 
<a href="#issue-section">
<div class="letter float y">Y</div>
  <div class="letter float e">e</div>
  <div class="letter float s">s</div>
  <br>
  <div class="letter float f">F</div>
  <div class="letter float ee">e</div>
  <div class="letter float m">m</div>
  <div class="letter float mm">m</div>
  <div class="letter float eee">e</div>
  <div class="letter float ss">s</div>
</a>
</div>
</div><!-- End letter-wrapper -->
<!-- <div class="side-nav about-menu"><a href="#">About</a></div>

<div class="side-nav index-menu"><a href="#issue-first">Index</a></div>-->
{% if page.layout != 'home' %}
<div class="menu-index">
<div class="index">

{% capture stories %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
  {% assign document = site[stories] | sort: 'lastname' %%}
{% endif %}



{% for links in document %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexttitle = next.title %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}


 

{% if prevurl %}<p class="title-prev"><a href="{{ prevurl }}"> << <span> {{ prevtitle l}}</span></a></p>{% endif %}
<p class="contents"><a href="/#issue-section">Contents</a></p>
{% if nexturl %}<p class="title-next"><a href="{{ nexturl }}"><span>{{ nexttitle }} </span> >></a></p>{% endif %}

<script>
/* post pagination keyboard shortcuts */
document.body.onkeyup = function(e){
  if (e.keyCode == '37') { window.location = '{{ prevurl }}'; } // left arrow key
  if (e.keyCode == '39') { window.location = '{{ nexturl }}'; } // right arrow key
};
</script></div>
<div class="about"><p><a href="#about">About</a></p></div>
</div>
{% endif %}

<div class="about-details scene_element fadein">


  <div class="close"><a href="#" class="fadein">x</a></div>
  <div class="copy">
    <p>YES FEMMES is an online experiment that publishes writing and digital projects working toward a femme aesthetic. We're interested in <span class="highlight-pink">writing that explores the limits of the body,</span> that's campy or fannish, that engages with witchcraft or the occult, that has an excess of feeling, that looks to animals and plants as models or collaborators, <span class="highlight-yellow">that considers how digitality might be femme,</span> and that moves toward the horizon of queerness. We plan to publish irregularly, according to our feelings, the cycles of the moon, and other factors.</p>

    <p>YES FEMMES was conceived of first as a reading series by Sam Cohen and Gina Abelkop, while they were <span class="highlight-green">floating together in the ocean</span> off the coast of a Malibu beach. Its digital iteration is made in northeast Los Angeles, edited by Sam Cohen and designed by Sandra Rosales.</p>

    <p>Submissions, pitches, and inquiries at yesfemmes@gmail.com. </p>

  </div>


 </div>

<script>
/* post pagination keyboard shortcuts */
document.body.onkeyup = function(e){
  if (e.keyCode == '37') { window.location = '{{ prevurl }}'; } // left arrow key
  if (e.keyCode == '39') { window.location = '{{ nexturl }}'; } // right arrow key
};
</script>
