---
layout: default
---

<div class="landing barba-container">
  <div class="img-wrapper"><img class="kenburns" src="{{ site.url }}/assets/images/space-bg-2.jpg" /></div>
<!--<a href="{{ site.baseurl }}{% link about.md %}
" class="popup">-->
<div class="letter-wrapper">

  <div class="letter float y">Y</div>
  <div class="letter float e">e</div>
  <div class="letter float s">s</div>
  <br>
  <div class="letter float f">F</div>
  <div class="letter float ee">e</div>
  <div class="letter float m">m</div>
  <div class="letter float mm">m</div>
  <div class="letter float eee">e</div>
  <div class="letter float ss">s</div>

</div> <!-- End letter-wrapper -->
<!--</a>-->


</div>

